<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Tavern" alias="Tavern"/>
        <typeAlias type="lt.vu.mybatis.model.Fighter" alias="Fighter"/>
        <typeAlias type="lt.vu.mybatis.model.Weapon" alias="Weapon"/>
        <typeAlias type="lt.vu.mybatis.model.TavernFighter" alias="TavernFighter"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="FightersDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/TavernsMapper.xml"/>
        <mapper resource="mybatis.xml/FightersMapper.xml"/>
        <mapper resource="mybatis.xml/WeaponsMapper.xml"/>
        <mapper resource="mybatis.xml/TavernFighterMapper.xml"/>
    </mappers>
</configuration>
